.git
.github
.venv
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.log
.env
.env.*
!.env.example
docs
tests
CHANGELOG.md
.gitignore
.editorconfig
